<section id="portfolio" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 *ngIf="showProjects" class="text-uppercase section-heading">PROYECTOS</h2>
                <h2 *ngIf="!showProjects" class="text-uppercase section-heading">DEPARTAMENTOS</h2>
            </div>
        </div>
        <div *ngIf="showProjects" class="row">
            <div *ngFor="let p of projects" class="col-sm-6 col-md-4 portfolio-item">
                <a routerLink="/project/{{ p.id }}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="{{ p.image }}"></a>
                <div class="portfolio-caption">
                    <h4>{{ p.name }}</h4>
                    <p class="text-muted"><strong><em>{{ p.price }}</em><br></strong></p>
                    <p class="text-muted">{{ p.address }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let d of apartments" class="col-sm-6 col-md-4 portfolio-item">
                <a href="#" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="{{ d.images[0].path }}">
                    <a class="btn btn-primary border-dark text-uppercase" role="button" href="#" style="background-color: rgb(255,165,85);border: none;position: absolute;right: 5px;bottom: 5px;font-size: 12px;font-weight: bold;color: rgba(255,255,255,0.75);">Cotizar</a>
                </a>
                <div class="portfolio-caption">
                    <h4> {{ d.name }} </h4>
                    <p class="text-muted"><strong><em> {{ d.size }} - {{ d.floor }} </em></strong></p>
                    <p class="text-muted"> {{ d.type }}</p>
                </div>
            </div>
        </div>
    </div>
</section>