<div class="container">
    <form [formGroup]="userForm">
        <div class="form-group">
            <label>
                Login:
                <input type="text" formControlName="loginUsuario" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>
                Password:
                <input type="password" formControlName="passwordUsuario" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>
                Perfil:
                <input type="number" formControlName="idPerfil" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>
                Nombres:
                <input type="text" formControlName="nombres" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>
                Apellido Paterno:
                <input type="text" formControlName="apellidoPaterno" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>
                Apellido Materno:
                <input type="text" formControlName="apellidoMaterno" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>
                Documento Identidad:
                <input type="text" formControlName="documentoIdentidad" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <button (click)="onSubmit()" class="btn btn-info">Guardar</button>
        </div>
    </form>
</div>
