<p>main works!</p>

<nav
  class="navbar navbar-dark navbar-expand-lg fixed-top"
  id="mainNav"
  style="opacity: 1; background-color: rgba(52, 58, 64, 0.75);"
>
  <div class="container">
    <a
      class="navbar-brand js-scroll-trigger"
      routerLink="home"
      style="color: rgb(255, 165, 85);"
      >J&amp;J</a
    ><button
      class="navbar-toggler navbar-toggler-right"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      type="button"
      data-toogle="collapse"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="background-color: rgb(255, 165, 85);"
    >
      <i class="fa fa-bars" style="color: rgba(255, 255, 255, 0.75);"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav ml-auto text-uppercase">
        <!--
              <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" href="#portfolio" style="color: rgb(255,165,85);">PROYECTOS</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" href="#services" style="color: rgb(255,165,85);">DEPARTAMENTOs</a></li>
              -->
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active js-scroll-trigger"
            routerLink="project"
            style="color: rgb(255, 165, 85);"
            >PROYECTOS</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active js-scroll-trigger"
            routerLink="aboutus"
            style="color: rgb(255, 165, 85);"
            >About</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active js-scroll-trigger"
            routerLink="team"
            style="color: rgb(255, 165, 85);"
            >Team</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active js-scroll-trigger"
            routerLink="contactus"
            style="color: rgb(255, 165, 85);"
            >Contact</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active js-scroll-trigger"
            routerLink="user"
            style="color: rgb(255, 165, 85);"
            >User Register</a
          >
        </li>
      </ul>
      <a
        class="btn btn-primary text-black-50 border-dark"
        role="button"
        href="#"
        style="
          font-family: Montserrat, sans-serif;
          font-weight: normal;
          background-color: rgb(255, 165, 85);
          border: none;
        "
        >Acceder</a
      >
    </div>
  </div>
</nav>
<section style="min-height: 600px; padding-top: 0;">
  <router-outlet name="main"></router-outlet>
</section>

<div id="contact" class="footer-dark" style="padding: 0px;">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col item social">
          <a href="https://www.facebook.com/" target="_blank"
            ><i class="icon ion-social-facebook"></i></a
          ><a href="https://twitter.com/" target="_blank"
            ><i class="icon ion-social-twitter"></i></a
          ><a href="https://www.linkedin.com/" target="_blank"
            ><i class="icon ion-social-linkedin"></i
          ></a>
        </div>
      </div>
      <p class="copyright">J&amp;J © 2021</p>
    </div>
  </footer>
</div>
